absl-py
astor
cached-property
click
Flask
gast
grpcio
gunicorn
h5py
importlib-metadata
itsdangerous
Jinja2
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
numpy
Pillow
tensorboard
tensorflow-cpu
tensorflow-estimator
termcolor
typing-extensions
wrapt
zipp
